
body {

    margin:0 auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;

}

main {
    flex: 1;
}

/* ОСНОВНЫЕ НАСТРОЙКИ ⤴ */

header * {
    margin: 0;
}

header {
    background-color: rgba(0, 0, 0, 0.35);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 50px;
    border-radius: 0 0 10px 10px;
    
}

header h3 {
    font-size: 24px;
    font-family: monospace;

}

header a {
    position: relative;
    bottom: -10px;
}

/* ШАПКА ⤴ */

#gallery_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 12px;
    padding: 10px;
}


#gallery_list img {
    width: 100%;
    aspect-ratio: 4/3;
    display: block;
    object-fit: cover;
    border-radius: 10px; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.445);
}


/* Планшет */
@media (max-width: 768px) {
    #gallery_list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 12px;
    }
}

/* Телефон */
@media (max-width: 480px) {
    #gallery_list {
        grid-template-columns: 1fr;
        gap: 8px;
    }
}

/* ОСНОВА */



.footer_contetnt{
    background-color: grey;
    height: 40px;
    border-radius: 10px 10px 0 0;

    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}

