
body {
    min-height: 100vh;
    background: url("../assets/img/pokos_travi_phon.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    margin:0 auto;  
    padding: 0;

    display: flex;
    flex-direction: column;

}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;

      background: linear-gradient(
            to bottom,
            rgba(255,255,255,0) 0%,
            rgb(0, 0, 0) 100%
            );

    z-index: -1;
}


main {
    flex: 1;
}

/* ОСНОВНЫЕ НАСТРОЙКИ ⤴ */

header * {
    margin: 0;
}

.header_container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

header h3 {
    font-size: 60px;
    font-family: 'Space Grotesk', sans-serif;
    color: aliceblue;
    font-weight: bold;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.506);
}

.header_text_container {
    text-align: center;
}

header span {
    color: aliceblue;
    font-size: 20px;
    font-family:'Inter', sans-serif;
    font-weight: 600;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.742);
}



.header_link_gallery {
    position: absolute;
    right: 10px;
    transition: all 0.3s ease;
}

.header_link_gallery:hover {
    transform: scale(1.05);
}

.header_link_gallery a{
    width: 100px;
    color: snow;
    text-decoration: none;
    background: linear-gradient(
        135deg,
        #238f2b,
        #6ab634    
    );
    padding: 0 20px;
    margin: 10px;
    border-radius: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



/* ШАПКА ⤴ */

.section_Our_services {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
    padding: 10px;
    margin-top: 50px;
}

.card_section_Our_services {
    display: flex;
    gap: 24px;
}

.trova, .bild {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.386);
}


.trova_text, .bild-text {
    flex: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

.trova_text_h3, .bild-text-h3 {
    font-family: 'Fredoka', sans-serif;
    font-weight: 700;
    text-align: center;
}

.trova_text_p, .bild-text-p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    text-align: center;
}

.news {
    position: relative;
    bottom: 0;
    left: 0;

    display: flex;
    gap: 20px;
    justify-content: center;
}


.Telegram {
    color: snow;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: linear-gradient(
        35deg,
        #0a70cb,
        #21a6de
    );
    border-radius: 7px;
    padding: 4px;
}

.WhatsApp {
    color: snow;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    background: linear-gradient(
        35deg,
        #238f2b,
        #6ab634
    );
    border-radius: 7px;
    padding: 4px;

}

/* телефон */
@media (max-width: 500px) {
    .card_section_Our_services {
        flex-direction: column;
        gap: 8px;
    }
    .header_link_gallery {
        top: 10px;
    }
    .news {
        flex-direction: column;
        gap: 8px;
        text-align: center;
    }
}

/* ОСНОВНАЯ ЧАСТЬ САЙТА ⤴ */


.footer_contetnt{
    height: 40px;
    border-radius: 10px 10px 0 0;

    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
}

.footer_contetnt span {
    color: white;
    font-family: monospace;

}

.footer_gradient {
    height: 1px;
    width: 100%;
    background: linear-gradient(to top, white, transparent);
}
