
body {

    margin:0 auto;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;

}

main {
    flex: 1;
}

/* ОСНОВНЫЕ НАСТРОЙКИ ⤴ */

header * {
    margin: 0;
}

header {
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%2Fid%2FOIP.m_6DSPBHhBjG_G2BolNaLAHaCO%3Fpid%3DApi&f=1&ipt=efd364ba7d6739f59ca9266daaf32d9fa5325d1738b8799706754c8d826bb456&ipo=images');
    background-repeat: repeat;
    background-size: 1200px 500px;

    display: flex;
    gap: 20px;
    height: 200px;
    border-radius: 0 0 10px 10px;
    
}

header h3 {
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    color: aliceblue;
    font-weight: bold;


}

.header_text_container {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

header span {
    color: aliceblue;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 600;
}

.header_content_buttons {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 10px;
}

.Telegram {
    color: snow;
    text-decoration: none;
    background: linear-gradient(
        135deg,
        #649df9,
        #446be9
    );
    border-radius: 7px;
    padding: 4px;
}

.WhatsApp {
    color: snow;
    text-decoration: none;
    background: linear-gradient(
        135deg,
        #25D366,
        #128C7E
    );
    border-radius: 7px;
    padding: 4px;

}

.header_link_gallery {
    margin-left: auto;
    display: flex;
    margin-top: 20px;
}

.header_link_gallery a{
    width: 100px;
    color: snow;
    text-decoration: none;
    background-color: green;
    padding: 0 20px;
    clip-path: polygon(
        0% 100%,   /* нижний левый угол */
        5% 0%,     /* верхний левый угол */
        100% 0%,   /* верхний правый угол */
        100% 100%  /* нижний правый угол */
    );
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}



/* ШАПКА ⤴ */
.Our_services_title {
    text-align: center;
}

.section_Our_services {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    padding: 10px;
}

.trova, .bild {
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.386);
}


.trova_text, .bild-text {
    flex: 1;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;

}

.trova_text_h3, .bild-text-h3 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    text-align: center;
}

.trova_text_p, .bild-text-p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13px;
    text-align: center;
}



/* телефон */
@media (max-width: 500px) {
    .section_Our_services {
        flex-direction: column;
        gap: 8px;
    }
}

/* ОСНОВНАЯ ЧАСТЬ САЙТА ⤴ */


.footer_contetnt{
    background-color: grey;
    height: 40px;
    border-radius: 10px 10px 0 0;

    display: flex;
    padding: 0 20px;
    align-items: center;
    justify-content: space-between;
}
